{% extends 'base.html.twig' %}

{% block title %}Hello TrainerController!{% endblock %}

{% block body %}

   {% for trainer in trainers %}
    <p>{{ trainer.firstName }}</p>
    {% if trainer.articles %}
        <ul>
        {% for article in trainer.articles %}
            <li>{{ article.title }}</li>
        {% endfor %}
        </ul>
    {% endif %}
   {% endfor %}

{% endblock %}
