{% extends 'base.html.twig' %}

{% block title %}Trainer info{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md">
            {% if trainer %}
            <ul>
                <li>{{trainer.firstName}} {{trainer.lastName}}</li>
                <li>{{trainer.bio}} </li>
                <li>{{trainer.profession}} </li>
            </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}