<form 
data-controller="confirm"
action="{{ path('delete_trainer', {id: id}) }}" method="post" style="display:inline;">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
	<button  data-action="click->confirm#next" type="submit" class="btn btn-danger btn-sm">Delete</button>
  
</form>