{% extends 'admin.html.twig' %}

{% block body %}

	<h1 class="mb-4">Create Trainer</h1>
	{{ form_start(form) }}
        <button type="submit" class="btn btn-primary">Add</button>
	{{ form_end(form) }}

{% endblock %}
