{% extends 'base.html.twig' %}

{% block title %}Hello TrainerController!
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md">
			{% if articles %}
				{% for article in articles %}
					<div class="card">
						<h5 class="card-header">
							<a href="{{path('app_show_article', { id : article.id })}}">
								{{ article.title }}</a>
						</h5>
						<div class="card-body">
							<h5 class="card-title">
								{{ article.trainer ? article.trainer.firstName : null }}</h5>
							<p>Role(s)
								<ul>
									{% for role in article.trainer.roles %}
										<li>
											<small>{{role}}</small>
										</li>
									{% endfor %}
								</ul>
							</p>
						</div>
					</div>
				{% endfor %}
			{% endif %}
			</div>
			<div class="col-md">
				PAS D'ARTICLE
			</div>
		</div>
	</div>
{% endblock %}
