{% extends 'base.html.twig' %}

{% block title %}Hello TrainerController!{% endblock %}

{% block body %}

<div class="container">
		<div class="row">
			<div class="col-md">
				{% for article in articles %}
					<div class="card">
						<h5 class="card-header">{{ article.title }}</h5>
						<div class="card-body">
							<h5 class="card-title">{{ article.trainer ? article.trainer.firstName : null }}
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="col-md">
				PAS D'ARTICLE 
			</div>
		</div>
	</div>
{% endblock %}
