{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
	{% if article %}
		<div class="container">
			<div class="row">
				<div class="col-md">
                	<div class="card">
						<h5 class="card-header">{{ article.trainer.firstName  }}</h5>
                        <p>{{article.title}}</p>
                        <p>{{article.content}}</p>
                    </div>
				</div>
			</div>
		</div>
	{% else %}
		<p>Aucun article</p>
	{% endif %}
{% endblock %}
